.navbar{
    padding: 10px 10% !important;
}

.navbar-brand{
    white-space: normal !important;
    width: 65% !important;
}

.navbar-nav li a:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 3px;
}.nav-link.active{
    text-decoration: underline !important;
    text-underline-offset: 5px !important;
    text-decoration-thickness: 3px !important;
}.nav-link{
    color: white;
}

.navbar-nav{
    font-size: 15px;
}

.offcanvas{
    max-width: 70%;
}

.logo{
    display: flex;
    flex-direction: column;
    line-height: 20px;
}.logo .location{
    line-height: 10px;
}