.active > .page-link,
.page-link.active {
    background-color: #131313;
    border-color: #131313;
}

.page-link {
    color: #131313;
}

.pagination {
    margin: 0;
    --bs-pagination-padding-x: 0.75rem;
    --bs-pagination-padding-y: 0.375rem;
    --bs-pagination-font-size: 1rem;
    --bs-pagination-color: #131313;
    --bs-pagination-bg: var(--bs-body-bg);
    --bs-pagination-border-width: var(--bs-border-width);
    --bs-pagination-border-color: var(--bs-border-color);
    --bs-pagination-border-radius: var(--bs-border-radius);
    --bs-pagination-hover-color: dimgrey;
    --bs-pagination-hover-bg: #f3f3f3;
    --bs-pagination-hover-border-color: var(--bs-border-color);
    --bs-pagination-focus-color: dimgrey;
    --bs-pagination-focus-bg: var(--bs-secondary-bg);
    --bs-pagination-focus-box-shadow: none;
    --bs-pagination-active-color: #fff;
    --bs-pagination-active-bg: dimgrey;
    --bs-pagination-active-border-color: cadetblue;
    --bs-pagination-disabled-color: var(--bs-secondary-color);
    --bs-pagination-disabled-bg: var(--bs-secondary-bg);
    --bs-pagination-disabled-border-color: var(--bs-border-color);
    display: flex;
    padding-left: 0;
    list-style: none;
}

.sorting {
    text-align: center !important;
}
