/* Set the width and height of the scrollbar------------------------- */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #888;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1e1e1e;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #3e3e3e;
}